/*-------Importação de Fontes------*/

/*OSWALD*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*NUNITO*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

/*BEBAS NEUE*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo-sn {
    width: 20%;
}

.titulo-e-logo {
    background-color: rgba(255, 127, 80, 0);
    width: 40%;
    min-width: 245px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

:root {
    --menu_superior: #2b2b2b; 
    --cinza_nav: #e0e0e0;
    --cinza-texto: #f5f5f5;
    --azul-titulo: #14c9ff;
    --azul-texto: #96e7ff;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #222;
}

header {
    background-color: var(--menu_superior);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.616);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-top h1 {
    font-size: 35px;
    color: var(--azul-titulo);
    font-family: 'bebas neue', 'sans-serif';
    font-weight: 200;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: var(--cinza_nav);
    text-decoration: none;
    font-weight: 300;
    font-size: 27px;
    font-family: 'bebas neue', 'sans-serif';
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.8rem;
    color: white;
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.mobile-nav.active {
    right: 0;
}

.mobile-nav .close-btn {
    align-self: flex-end;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.mobile-nav a {
    color: #dbdbdb;
    
    font-weight: 400;
    font-size: 30px;
    font-family: 'bebas neue', 'sans-serif';
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 20px;
    margin-top: 100px; /* espaço para o header fixo */
}


.conteudo-principal {
    flex: 3;
    max-width: 1200px;
}

.destaque,
.momentos,
.flexbox-posts {
    margin-bottom: 30px;
}

.destaque img,
.momentos img,
.flexbox-posts img {
    width: 100%;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.momentos,
.flexbox-posts {
    display: grid;
    justify-items: center;
    gap: 30px;
}

.momentos {
    background-color: #60259f00;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    padding-top: 5px;
    max-width: 1200px;
    margin: auto;
}

.flexbox-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flexbox-posts article {
    flex: 1 1 48%;
}

aside.lateral {
    background-color: #f2f2f2;
    padding: 20px;
    border-left: 2px solid #ccc;
}

aside.lateral h3 {
    margin-bottom: 15px;
    width: 150px;
    font-size: 22px;
    margin-left: 0px;
}

aside.lateral article {
    margin-bottom: 15px;
}

.post-article-ultimas img {
    width: 100%;
    border-radius: 3px;
}

footer {
    background-color: #2d2d2d;
    color: white;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}


/*------Título com barra linha azul-------*/
h3 {
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 15px;
    width: 300px;

    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--azul-titulo);
}

.conteudo-principal > .data-autor {
    color: #949494;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}
/*===========================================*/


/*----Estrutura dos posts(quadrados clicáveis)-----*/
    section {
        background-color: rgba(132, 196, 36, 0);
    }

    .momentos article {
        background-color: var(--cinza_nav);
        border-radius: 5px;
        padding: 20px;
        max-width: 500px;
    }

    .post-article {
        display: flex;
        min-width: 350px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .post-article-ultimas {
        background-color: #f9f9f9;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        padding: 10px;
    }

    .momentos  img {
        width: 100%;
        border-radius: 5px;
    }

    .momentos h4 {
        margin-top: 5px;
        font-family: 'oswald';
        font-weight: 400;
        font-size: 27px;
    }

    .link-articles {
        background-color: #14c8ff00;
        text-decoration: none;
        color: black;
        display: block;
    }
/*===========================================*/


/*-----Box destaque (Home)---------*/
    .poster-destaque {
        width: 80%;
        margin: auto;
    }

    .fundo-destaque {
        position: relative;
        background-color: var(--menu_superior);
        padding: 20px;
        width: 80%;
        margin: auto;
        margin-top: -50px;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: #14c9ff;
    }

    .fundo-destaque > h4 {
        color: var(--azul-texto);
        font-size: 29px;
        font-family: 'oswald', sans-serif;
        font-weight: 400;
    }

    .fundo-destaque > p {
        color: var(--cinza-texto);
        text-indent: 40px;
        font-size: 18px;
        font-family: 'nunito', sans-serif;
        line-height: 27px;
        margin-top: 10px;
    } 
/*===========================================*/


/*-----Box destaque (Filmes & Jogos)---------*/
    .fundo-destaque-filmes-jogos {
        background-color: var(--menu_superior);
        padding: 20px;
        max-width: 600px;
        margin: auto;
        box-shadow: 12px 12px 0px rgb(29, 29, 29);
    }

    .fundo-destaque-filmes-jogos h3 {
        color: aliceblue;
        margin-left: 0px;
        font-size: 27px;
        width: 225px;
    }

    .superior {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-bottom: 20px;
    }

    .inferior h4 {
        font-family: 'oswald', sans-serif;
        color: var(--azul-texto);
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .inferior p {
        font-family: 'nunito', sans-serif;
        color: var(--cinza-texto);
        font-size: 18px;
        text-indent: 25px;
    }

    .destaque-filmes-jogos-poster {
        width: 150px;
        position: relative;
        font-family: 'oswald', sans-serif;
    }


    .destaque-filmes-jogos-poster img {
        width: 100%;
        height: auto;
    }

    .fundo-destaque-filmes-jogos-texto > h4 {
        color: var(--azul-texto);
        display: inline;
        font-family: 'oswald', sans-serif;
        font-weight: 400;
        font-size: 19px;
    }

    .fundo-destaque-filmes-jogos-texto > p {
        color: var(--cinza-texto);
        display: inline;
        font-family: 'oswald', sans-serif;
        font-size: 19px;
    }

    .botao-saiba-mais { /*Botão saiba mais*/
        display: block;
        margin: auto;
        margin-top: 12px;
        width: 150px;
        background-color: #76e3ff;
        color: #111;
        font-weight: 400;
        font-size: 21px;
        font-family: 'oswald', sans-serif;
        padding: 7px 16px;
        text-decoration: none;
        border: none;
        position: relative;
        transition: transform 0.2s ease;
        box-shadow: 4px 4px 0 #159fc4;
    }

    .botao-saiba-mais .icone-seta {
        margin-left: 10px;
        font-weight: bold;
    }

    .botao-saiba-mais:hover {
        transform: translateY(-2px);
        box-shadow: 6px 6px 0 #159fc4;
    }

    
/*===========================================*/



/*------------SEÇÃO DAS PÁGINAS DE CONTEUDO------------*/
    .poster-conteudo{
        max-width: 750px;
        margin: auto;
        margin-bottom: 30px;
    }

    .poster-conteudo img {
        width: 100%;
        border-radius: 7px;
    }

    .conteudo-principal > h3 {
        margin-left: clamp(17px, calc((100vw - 769px) / 5), 152px);
        margin-right: auto;
    }

    .conteudo-principal > p {
        font-family: 'nunito', sans-serif;
        font-size: 19px;
        color: var(--menu_superior);
        padding-left: 15px;
        padding-right: 15px;
        text-indent: 25px;
        margin: auto;
        margin-bottom: 15px;
        max-width: 900px;
    }

    .video-container { /*iframe responsivo*/
        position: relative;
        margin: auto;
        padding-bottom: 39%; /* 16:9 */
        overflow: hidden;
        border-radius: 10px;
        background-color: #60259f5d;
        max-width: 830px;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
/*=====================================================*/



/*------------SEÇÃO DE BOXES VEJA MAIS------------*/
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        max-width: 700px;
        margin: auto;
        margin-left: 10%;
    }

    .card {
        background-color: var(--cinza-texto);
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .card img {
        max-width: 130px;
        max-height: 130px;
        border-radius: 8px;
        object-fit: cover;
        margin-right: 15px;
    }

    .card-text h4 {
        margin: 0;
        font-size: 26px;
        text-align: center;
        font-family: 'oswald', 'sans-serif';
        font-weight: 400;
        color: #222;
    }

    .card-text p {
        margin: 6px 0 0 0;
        font-size: 17px;
        font-family: 'nunito';
        text-indent: 25px;
        color: #555;
    }
/*=====================================================*/



/*------------SEÇÃO DE BOXES VOCÊ SABIA?------------*/
    .voce-sabia {
        max-width: 350px;
        max-height: 1500px;
        border-left: 2px solid #333;
        font-family: "Segoe UI", sans-serif;
        margin-left: 12%;
        position: relative;
    }

    .titulo-box {
        background-color: #333;
        border: none;
        color: #fff;
        padding: 0.4rem 1rem;
        font-size: 20px;
        font-weight: 400;
        font-family: 'oswald';
        margin: 0;
        max-width: 120px;
        min-width: 100px;
    }

    .curiosidade {
        background-color: #f9f9f9;
        padding: 1rem;
        margin-bottom: 30px;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    }

    .curiosidade h4 {
        font-size: 20px;
        font-weight: 400;
        font-family: 'oswald';
        margin-bottom: 8px;
    }

    .curiosidade p {
        font-size: 0.95rem;
        font-family: 'nunito';
        text-indent: 25px;
        line-height: 1.5;
        margin: 0;
    }
/*=====================================================*/



/*----------------------RODAPÉ-----------------------*/
    .custom-footer {
        background-color: #1c1c1c;
        color: #fff;
        font-family: 'Arial', sans-serif;
        padding: 20px;
        min-width: 380px;
    }

    .footer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
        margin: 0 auto;
        align-items: center;
    }

    .footer-section {
        background-color: #1c1c1c;
        flex: 1;
        margin: auto;
        min-width: 250px;
    }

    .footer-section h3 {
        font-size: 30px;
        font-family: 'bebas neue', 'sans-serif';
        color: var(--cinza_nav);
        text-transform: uppercase;
        margin: auto;
        margin-bottom: 0.8rem;
        text-align: center;
        border: none;
    }

    .footer-section a {
        color: #fff;
        text-decoration: none;
    }

    .footer-section p {
        font-family: 'nunito';
        font-size: 17px;
        line-height: 1.5;
        text-align: center;
    }

    div .footer-nomes {
        font-family: 'oswald', 'sans-serif';
    }

    .creditos-info {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }

    .creditos-info .label {
        font-family: 'bebas neue';
        color: var(--cinza_nav);
        text-transform: uppercase;
        font-size: 20px;
    }

    .divisor-vertical {
        width: 1px;
        height: 40px;
        background-color: #555;
    }

    .divisor-vertical-grande {
        width: 1px;
        height: 120px;
        background-color: #555;
    }
    
    .centro {
        min-width: 360px;
    }

    @media (max-width: 768px) {
    .footer-box {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .creditos-info {
        flex-direction: column;
        align-items: center;
    }

    .divisor-vertical {
        display: none;
    }

    .divisor-vertical-grande {
        height: 1px;
        width: 300px;
        margin: auto;
    }
    }
/*=====================================================*/



/*--------------------MOBILE---------------------*/
/* Responsivo sem alterar o layout */
    @media (max-width: 480px) {
        

        .card {
            padding: 10px;
        }

        .card img {
            width: 100px;
            height: 100px;
        }

        .card-text h4 {
            font-size: 19px;
        }

        .card-text p {
            font-size: 0.85rem;
        }
    }

@media (max-width: 768px) {
    .card-container {
            padding: 10px;
            margin-left: 2%;
    }

    .voce-sabia {
        margin-left: 20px;
    }




    body {
        min-width: 380px;
    }

    .header-top h1 {
        font-size: 25px;
    }

    nav {
        display: none;
    }

    .menu-icon {
        display: block;
        z-index: 3;
    }

    .momentos {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .flexbox-posts {
        flex-direction: column;
    }

    .header-top {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        flex-direction: column;
    }

    aside.lateral {
        order: 2;
    }

    h2 {
        text-align: center;
        text-indent: 0px;
        font-size: 30px;
    }

    h3 {
        margin-left: 15px;
    }

    section.destaque {
        width: 100%;
    }

    /*--------Box destaque (Filmes & Jogos)----------*/
        .fundo-destaque-filmes-jogos h3 {
            color: aliceblue;
            margin-left: 0px;
            font-size: 26px;
            width: 200px;
        }

        .fundo-destaque-filmes-jogos-texto > h4 {
            color: var(--azul-texto);
            display: inline;
            font-family: 'oswald', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }

        .fundo-destaque-filmes-jogos-texto > p {
            color: var(--cinza-texto);
            display: inline;
            font-family: 'oswald', sans-serif;
            font-size: 18px;
        }

        .inferior h4 {
            font-family: 'oswald', sans-serif;
            color: var(--azul-texto);
            font-weight: 400;
            font-size: 25px;
        }

        .inferior p {
            font-family: 'nunito', sans-serif;
            color: var(--cinza-texto);
            font-size: 17px;
            text-indent: 25px;
        }
    
    /*=====================================================*/

    .conteudo-principal > h3{
        margin-left: 15px;
    }

    .video-container { /*iframe responsivo*/
        position: relative;
        margin: auto;
        padding-bottom: 57%; /* 16:9 */
        overflow: hidden;
        border-radius: 0px;
        background-color: #60259f5d;
        max-width: 830px;
    }


    .post-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    

    .post-article h4 {
        margin-top: 0px;
        font-size: 24px;
    }

    .post-article p {
        font-size: 16px;
        text-align: left;
        text-indent: 25px;
    }

    .poster-destaque {
        width: 100%;
        margin: auto;
    }

    .post-article-ultimas {
        flex-direction: row;
        text-align: left;
    }

    .post-article-ultimas img {
        width: 30%;
        margin: 0px;
    }

    .post-article-ultimas h4 {
        font-size: 16px;
        font-family: 'oswald', 'sans-serif';
        font-weight: 400;
    }

    .post-article-ultimas p {
        font-size: 13px;
        font-family: 'nunito', 'sans-serif';
        text-indent: 20px;
    }

    .fundo-destaque {
        position: relative;
        background-color: var(--menu_superior);
        padding: 25px;
        margin: auto;
        margin-top: -50px;
        width: 100%;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: #14c9ff;
    }
}

@media (min-width: 769px) {
    main {
        flex-direction: row;
    }

    .conteudo-principal {
        flex: 3;
        padding-right: 20px;
    }

    aside.lateral {
        flex: 1;
        max-width: 300px;
    }
}